body {
    text-align:center;
}
#game {
    background-color: greenyellow;
}
#app {
    background-color: blueviolet;
}
#chatbot {
    background-color:wheat;
}
#h1-1 {
    background-color:white;
}